<div class="panel">
  <h4>Login</h4>
</div>
<form id="Login" action="/login" method="post">
  <div class="form-group">
    <input type="text" name="username" class="form-control" id="inputEmail" placeholder="Username">
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" id="inputPassword" placeholder="Password">
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
