<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form action="/users/create" method="post">
    <label for="user_name">Enter name: </label>
    <input id="user_name" type="text" name="name_field" value="Alison Burgers.">
    <input type="submit" value="OK">
</form>

