<div class="d-flex w-100 h-100 p-3 mx-auto align-content-center flex-column">
  <main role="main" class="inner cover">

  <div class="row justify-content-around">
    <div class="col-6">
      <h1 class="cover-heading">Share rides.</h1>
      <p class="lead">Hitch is a car-sharing app with 0 Outer Joins. Sign up, share your car and get driven by others as well.</p>
    </div>
    <div class="col-3">
      {{> login-form }}
    </div>
  </div>
  </main>
</div>




