<h1> Users </h1>

<h2> Create User </h2>
<form action="/users/create" method="post">
    <label for="user_name">Enter name: </label>
    <input id="user_name" type="text" name="name_field" value="Alison Burgers.">
    <input type="submit" value="OK">
</form>

<hr />

<h2> List of Users </h2>
{{#each users}} 
    <p>{{this.name}}</p>
{{/each}}



